<!-- <div class="custom-container" (click)="customCardClicked()">
  <div class="custom-header">
    <span>
      <strong>{{ templateUser.name }}</strong>
    </span>
    <span>Age, Location</span>
  </div>
  <div class="custom-content-image">
    <div class="custom-actions">
      <button
        class="custom-action"
        mat-icon-button
        aria-label="Add to favorites"
        (click)="favButtonClicked($event)"
        #tooltip="matTooltip"
        matTooltip="Add to favorites"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        class="custom-action"
        mat-icon-button
        aria-label="Write a message"
        (click)="messageButtonClicked($event)"
        #tooltip="matTooltip"
        matTooltip="Write a message"
      >
        <mat-icon>mail</mat-icon>
      </button>
    </div>
  </div>
</div> -->
