<!-- <div class="flex-container">
  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    Age Filter
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Age Range 1</button>
    <button mat-menu-item>Age Range 2</button>
  </mat-menu>
  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    Gender Filter
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Female</button>
    <button mat-menu-item>Male</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    Order By
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Order Setting 1</button>
    <button mat-menu-item>Order Setting 2</button>
  </mat-menu>
</div>
<div class="container">
  <app-custom-card [user]="user" *ngFor="let user of users"> </app-custom-card>
</div> -->
