<!-- <form [formGroup]="authenticationForm" (onSubmit)="login()">
  <div class="example-button-row">
    <input
      style="vertical-align: middle"
      placeholder="E-Mail"
      formControlName="email"
    />
    <input
      style="vertical-align: middle"
      placeholder="Password"
      formControlName="password"
    />
    <button
      mat-raised-button
      style="vertical-align: middle"
      color="primary"
      type="submit"
      [disabled]="formValid()"
      (click)="login()"
    >
      Login
    </button>
  </div>
</form> -->
