<!-- <mat-toolbar color="warm" *ngIf="logedIn">
  <div class="example-button-row">
    <button mat-button (click)="datingAppClicked()">Datingapp</button>
    <button mat-raised-button color="warn" (click)="matchesClicked()">
      Matches
    </button>
    <button mat-raised-button color="warn" (click)="listsClicked()">
      Lists
    </button>
    <button mat-raised-button color="warn" (click)="messagesClicked()">
      Messages
    </button>
  </div>
  <span class="example-spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    User
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editProfileClicked()">Edit Profile</button>
    <button mat-menu-item (click)="logoutClicked()">Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-toolbar color="warm" *ngIf="!logedIn">
  <button mat-button (click)="datingAppClicked()">Datingapp</button>
  <span style="flex: 1 1 auto"></span>
  <app-auth></app-auth>
</mat-toolbar> -->
